@using System.Web


<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Content/css/Registrar.css" rel="stylesheet" />
    <title>SKYNET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("SKYNET", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Inicio", "Index", "Home")</li>
                </ul>
                <ul class="nav navbar-nav">
                    <li>
                        <a href="">Usuarios</a>
                        <ul>
                            <li><a href="@Url.Action("Register", "Home")">Registrar</a></li>
                            <li><a href="@Url.Action("LoadUsers", "Home")">Visualizar</a></li>

                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav">
                    <li>
                        <a href="">Clientes</a>
                        <ul>
                            <li><a href="@Url.Action("RegisterC", "Home")">Registrar</a></li>
                            <li><a href="@Url.Action("LoadClients", "Home")">Visualizar</a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav">
                    <li>
                        <a href="">Visitas</a>
                        <ul>
                            <li><a href="@Url.Action("RegisterV", "Home")">Registrar</a></li>
                            <li><a href="@Url.Action("LoadVisits", "Home")">Visualizar</a></li>
                        </ul>
                    </li>
                </ul>
                @{
                    var nameUser = Session["nameUser"] as string;
                    var rolName = Session["rolName"] as string;
                }
                @if (!string.IsNullOrEmpty(nameUser))
                {
                    <ul class="nav navbar-nav navbar-right">
                        <li onmouseover="showOptions()" onmouseout="hideOptions()">
                            <a href="#">@($"{rolName} {nameUser}")</a>
                            <ul id="optionsList" style="display: none;">
                                <li>@Html.ActionLink("Cerrar Sesion", "CerrarSesion", "Home")</li>
                            </ul>
                        </li>
                    </ul>
                }
                <script>
                    function showOptions() {
                        var optionsList = document.getElementById("optionsList");
                        optionsList.style.display = "block";
                    }

                    function hideOptions() {
                        var optionsList = document.getElementById("optionsList");
                        optionsList.style.display = "none";
                    }
                </script>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - SKYNET</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
